/******** GLOBAL ********/
.darker-grotesque {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

html {
    height: 100%
}

body {
    font-family: "Darker Grotesque", sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

button:hover {
    cursor: pointer;
}

h2 {
    font-size: 3rem;
    font-weight: 800;
}

main {
    display: flex;
    min-height: calc(100vh - 10vh - 30%);
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

/******** BODY ********/

/*** HEADER ***/

div.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb( 133, 205, 245);
}

div.header img {
    position: relative;
    width: 4%;
    height: 70%;
    right: 1%;
}

div.header div {
    flex-direction: column;
    position: relative;
    height: auto;
    top: 16%;
}

div.header hr {
    position: relative;
    width: 65%;
    left: 20%;
    bottom: 1vh;
    height: 0.45vh;
    background-color: rgb(51, 51, 51);
    border: 0px;
    border-radius: 40px;
}

/*** MAIN ***/

div.searchBar {
    width: 100%;
    height: 6vh;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-content: flex-end;
    align-items: flex-end;
}

div.searchBar input {
    width: 70%;
    height: 3vh;
    border: solid 1px rgb(0, 0, 0);
    background-image: url(../assets/searchWolfs.png);
    background-repeat: no-repeat;
    background-size: 1.5vmax;
    padding-left: 2vw;
}

div.searchBar button {
    width:8%;
    height: 3.5vh;
    background-color: rgb(222,185,89);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.25rem;
    position: relative;
    right: 5%;
}

div.searchBar button:hover {
    opacity: 0.5;
    transition: 1s;
}

div.checkboxDiv {
    width: 87%;
}

div.checkboxDiv input {
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    position: absolute;
}

.custom-checkbox {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: rgba(250,250,250); /* Fundo azul */
    border: 2px solid #333; /* Borda escura */
    border-radius: 5px; /* Bordas arredondadas */
    position: relative;
    top: 0.2vh;
    cursor: pointer;
}

div.imgShadow {
    position: relative;
    border-color: rgba(51,51,51);
    border-style: solid;
    border-width: 0.3vmax;
    background-color: rgb(44,86,128);
    min-width: 120px;
    min-height: 180px;
    width: 49.5%;
    height: 79%;
    top: 2%;
    left: 18.5%;
}

div.imgShadowReversed {
    position: relative;
    border-color: rgba(51,51,51);
    border-style: solid;
    border-width: 0.3vmax;
    background-color: rgb(44,86,128);
    min-width: 120px;
    min-height: 180px;
    width: 49.5%;
    height: 79%;
    top: 2%;
    left: 33.5%;
}

div.imgLobo img {
    position: relative;
    top: 12%;
    right: 24.5%;
    width: 50%;
    height: 80%;
    min-width: 120px;
    min-height: 180px;
    z-index: 1;
}

div.imgLobo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
}

div.loboDiv {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
}

/* Estilo do checkmark */
.custom-checkbox::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid rgb(250, 250, 250);
    border-width: 0 3px 3px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s ease;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
    opacity: 1;
}

input[type="checkbox"]:checked + .custom-checkbox {
    background-color: #2e578e; /* Nova cor de fundo quando marcado */
}

div.loboEspecs {
    width: 50%;
    height: 100%;
    display:flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
}

div.loboEspecsReversed {
    width: 50%;
    height: 100%;
    display:flex;
    flex-flow: wrap column;
    justify-content: space-evenly;
}

div.loboEspecsReversed > p {
    text-align: right;
    font-weight: 500;
}

div.loboEspecs > p {
    text-align: left;
    font-weight: 500;
}

div.tituloLobo {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

div.tituloLoboReversed {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
}

div.adoteLobo h3 {
    font-size: 2rem;
    font-weight: 700;
}

div.adoteLobo p {
    font-size: 1rem;
    font-weight: 200;
}


div.adoteLobo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.adoteLobo button {
    width:20%;
    height: 4.5vh;
    background-color: rgb(222,185,89);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 1.25rem;
}

div.adoteLobo button:hover {
    opacity: 0.5;
    transition: 0.5s;
}

/*** FOOTER ***/

/*** FOOTER ***/
div.footer {
    top: 60%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    min-height: 30vh;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

div.leftFooter {
    display: flex;
    height: 30vh;
    align-items: center;
    gap: 5vh;
}

iframe {
    height: 25vh;
}

div.contato {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3.5vh;
    height: 25vh;
    font-size: 1.1rem;
}

div.contato div {
    width: 65vh;
    display: flex;
    flex-flow: nowrap row;
    gap: 1vmax;
    align-items: center;
}

img#point {
    width: 5%;
    height: 50%;
}

img#telefone {
    width: 4%;
}

img#carta {
    width: 4%;
    height: 80%;
}

div.contato button {
    border: 0px;
    background-color: rgba(222,185,89,255);
    color: rgb(51, 51, 51);
    font-size: 1.25rem;
    height: 30%;
    width: 36%;
}

div.desenvolvedor {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    color: white;
    font-size: 1.1rem;
    justify-content: center;
}

div.desenvolvedor img {
    width: 20vh;
    height: 20vh;
}