/******** GLOBAL ********/
.darker-grotesque {
    font-family: "Darker Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  
  body {
      font-family: "Darker Grotesque", sans-serif;
      display: flex;
      align-content: center;
      justify-content: center;
      flex-direction: column;
  }
  
  a {
      text-decoration: none;
      color: rgb(51, 51, 51);
  }
  
  button:hover {
      cursor: pointer;
  }
  main{
    width: 65%;
    height: 80vh;
    padding: 11.5rem;
    padding-top: 3rem;
    padding-bottom: 18rem;
  }

  /******** BODY ********/
  
  /*** HEADER ***/
  div.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb( 133, 205, 245);

}

div.header img {
    position: relative;
    width: 5%;
    height: 90%;

}

div.header div {
    flex-direction: column;
    position: relative;
    height: auto;
    top: 16%;
}

div.header hr {
    position: relative;
    width: 65%;
    left: 20%;
    bottom: 1vh;
    height: 0.45vh;
    background-color: rgb(51, 51, 51);
    border: 0px;
    border-radius: 40px;
}
 
/*** MAIN ***/
  fieldset.fieldset{
    width: 107%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    border-color: black;
    border: 3px solid black;
    align-items: center;
    padding: 3rem;
}

#fieldsetTitle{
    font-size: 40px;
    font-weight: 500;
}

div.divData{
    width: 100%;
    display: flex;
    gap: 1em;
    margin-top: 5em;
    justify-content: space-between;
    height: 10%;
}

div.name{
    width: 70%;
    height: 40%;
}
div.year{
    width: 25.5%;
}

#labelName,#labelYear,#labelLink,#labelDesciption{
    font-size: 20px;
}

#inputName,#inputYear,#inputLink,#textareaDescription{
    background-color: rgb(224, 219, 219);
    height: 25px;
    margin-top: 0.5em;
    width: 100%;
}

#textareaDescription{
    height: 80%;
    border: 2px solid black;
}

div.link{
    width: 100%;
    margin-top: 2%;
    height: 10%;
}

div.description{
    width: 100%;
    margin-top: 2%;
    height: 40%;
}
.btnSave{
    position: relative;
    top:5%;
    width: 9rem;
    height: 3rem;
    background-color: rgb(58, 90, 123);
    border: 1px solid black;
    font-size: 18px;
    color: aliceblue;

}

.btnSave:hover{
    background-color: rgb(68, 114, 160);
}



  
  
  
  /*** FOOTER ***/
  
  div.footer {
    top: 60%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    min-height: 30vh;
    width: 100%;
    background-color: rgb(51, 51, 51);
}

div.leftFooter {
    display: flex;
    height: 30vh;
    align-items: center;
    gap: 5vh;
}

iframe {
    height: 25vh;
}

div.contato {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 3.5vh;
    height: 25vh;
    font-size: 1.1rem;
}

div.contato div {
    width: 55vh;
    display: flex;
    flex-flow: nowrap row;
    gap: 1vmax;
    align-items: center;
}

img#point {
    width: 5%;
    height: 50%;
}

img#telefone {
    width: 4%;
}

img#carta {
    width: 4%;
    height: 80%;
}

div.contato button {
    border: 0px;
    background-color: rgb(222,185,89);
    color: rgb(51, 51, 51);
    font-size: 1.25rem;
    height: 30%;
    width: 36%;
}

div.desenvolvedor {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    justify-content: center;
}

div.desenvolvedor img {
    width: 20vh;
    height: 20vh;
}